    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      /*
      position: relative;
      bottom: 0px;
      left: 0px;
      right: 0px; */
      width: 100%;
      background-color: #555 !important;
      color: white;
      padding: 15px;
    }
    footer p{
        margin: auto;
    }

    .middle{
        margin: auto !important;
    }

    form{
        width:60%;
        margin:auto;
    }

    .addButton{
         margin:20px auto 20px 20px;
    }

    .custom{
        position: absolute;
        left: 600px;
        margin-top: 10px;
        color: grey;
    }

    .detailPanel{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #down{
        margin-bottom: 10px;
    }

    #right{
        margin-right: 15px;
    }

    html, body {
      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
    }
    .content {
      flex: 1 0 auto;
    }
    .footer {
      flex-shrink: 0;
    }


    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }