{% extends 'master/base.html' %}

{% block 'title' %}
  Contact Us
{% endblock %}

{% block 'content' %}
<div class="container content" style="text-align:center;">
  <br><br><br><br>
  <h1 class="contact-title">Contact Us</h1>
<!--  <hr class="horizontal-line">-->
  <br><br><br>
  <div class="contact-body">
    <h5>Need help with Noteapp? If you have trouble with noteapp,<br> email us at <a href="#">support@note.com</a> and one of our<br>Happiness Engineers will be in touch.</h5>
  </div>
</div>

{% endblock %}